<div class="container"> 
  <div class="row">
    <div class="col-xs-12"> 
      <h1>Burger App</h1>
    </div>  
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="../../static/images/burger.png" alt="burger">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      
      
    {{#each data}}  
      {{#unless this.devoured}}
          <form action="/update?_method=PUT" method="POST">   
            <pre>{{this.burger_name}}</pre>
            <input type="hidden" value={{this.id}} name="burgerId" type="text">
            <button type="submit">Devour It</button>
          </form>
      {{/unless}}
    {{/each}}
      
      
    </div>
  </div>
    <div class="col-xs-4">
      <form action="/create" method="POST">
        <textarea class="form-control" type="text" name="burger" value=""></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="col-xs-4">
      {{#each data}} 
        {{#if this.devoured}}
        <pre>{{this.burger_name}}</pre>
        {{/if}}
      {{/each}}
  </div>
</div> 
 